/Week 2/Python Programming Tasks/Task - 1 (Basic Python Programming)
/Week 2/Python Programming Tasks/Task - 3 (Basic Python Programmers - Maths)
/Week 2/Python Programming Tasks/Task - 5 (RegEx)
*.zip
Week 2/Python Programming Tasks/Task - 8 (Stats - Both basic and Adv user)/s10_basic_statistics.py
.gitattributes
*.pyc