/Week 2/Python Programming Tasks/Task - 1 (Basic Python Programming)
/Week 2/Python Programming Tasks/Task - 3 (Basic Python Programmers - Maths
/Week 2/Python Programming Tasks/Task - 4 (Basic Python - Strings)